.header{
    margin-top: 162px;
}



p{
    margin: 20px 0;
    font-size: 18px;
    line-height: 22.77px;
    font-weight: 400;
}
h1{
    font-size: 62px;
    line-height: 50.4px;
}
.btn{
    margin-top: 20px;
    width: 260px;
    height: 50px;
    outline: none;
    border:none;
}

.btn-success{
    background-color:#8CC484;
}
.btn-success:hover
{
    background-color:#5D926F;
}

.btn-secondary{
    background-color: transparent;
    border:1px solid white
}
.btn-secondary:hover{
    background-color: white;
    color:black;
}
@media only screen and (max-device-width: 414px) {
    .btn{
        width: 100%;
    }
}