h1{
    font-size: 32px;
    font-weight: 700;
}
h2{
    font-size: 32px;
    font-weight: 400px;
}
h3{
    font-size: 16px;
}
textarea{
    resize: none;
    border: none;
    outline: none;
    border-radius: 2px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    line-height: 20.8px;
}
.results-explain{
    max-width: 577px;
    margin-top: 120px;
    padding-bottom: 48px;
}
.scramble-container{
    padding-top: 40px;
   
}
.number select{
    width: 160px;
    height: 44px;
    border-radius:2px;
}

::-webkit-scrollbar {
    width: 16px;
    background: #99B9A3;
    border-radius:  0 2px 2px 0px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background:#0B252C;
    border: 3px solid #99B9A3;
    border-radius: 15px;
    
  }
  .main-btn{  
      margin-right: 20px;
      width: 220px;
      margin-top: 20px;
  }


  @media only screen and (max-device-width: 415px) {
    .main-btn{
      width: 100%;
    }
    .results-explain{
        margin-top: 40px;
    }
  }