

.footer{
    
    background-color: #8CC484;
    margin-top: 187px;
    display: inline-block;
}
.title{
    font-size: 62px;
}

@media only screen and (max-device-width: 415px) {
    .footer{
        margin-top: 100px;
    }
  }
