body {
  margin: 0;
  font-family: 'Circular Std Book', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0B252C;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scramble-wrapper{
  min-height: 720px;
  width: 100%;
  max-height: 100vh;
}

.header-wrapper{
  min-height: 720px;
  width: 100%;
  max-height: 100vh;
  background-image: url(../src/header.png); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;

}


@media only screen and (max-device-width: 414px) {
  .header-wrapper{
      background-image: url(../src/header-mobile.png);
  }
  .main-btn{
    border: 1px solid red;
    width: 100%;
  }
}
